:root {
    --btn-idle-rgb: 44, 47, 51;
    --btn-idle-alpha: 0.7;
    --btn-idle: rgba(44, 47, 51, 0.7);
    --btn-pressed: #3f8cff;
}

.gamepad-button[data-side="right"][data-role="up"],
.gamepad-button-pressed-fill[data-side="right"][data-role="up"] {
    --btn-idle: rgba(32, 32, 79, 0.7);
    --btn-pressed: #5555ff;
}

.gamepad-button[data-side="right"][data-role="right"],
.gamepad-button-pressed-fill[data-side="right"][data-role="right"] {
    --btn-idle: rgba(79, 32, 32, 0.7);
    --btn-pressed: #ff5555;
}

.gamepad-button[data-side="right"][data-role="down"],
.gamepad-button-pressed-fill[data-side="right"][data-role="down"] {
    --btn-idle: rgba(79, 79, 32, 0.7);
    --btn-pressed: #ffff55;
}

.gamepad-button[data-side="right"][data-role="left"],
.gamepad-button-pressed-fill[data-side="right"][data-role="left"] {
    --btn-idle: rgba(32, 79, 32, 0.7);
    --btn-pressed: #55ff55;
}
