.gamepad-button[data-side="right"][data-role="up"],
.gamepad-button-pressed-fill[data-side="right"][data-role="up"] {
    --btn-released: rgb(95, 95, 31);
    --btn-pressed: rgb(255, 255, 51);
}

.gamepad-button[data-side="right"][data-role="right"],
.gamepad-button-pressed-fill[data-side="right"][data-role="right"] {
    --btn-released: rgb(95, 31, 31);
    --btn-pressed: rgb(255, 51, 51);
}

.gamepad-button[data-side="right"][data-role="left"],
.gamepad-button-pressed-fill[data-side="right"][data-role="left"] {
    --btn-released: rgb(31, 31, 95);
    --btn-pressed: rgb(51, 119, 255);
}

.gamepad-button[data-side="right"][data-role="down"],
.gamepad-button-pressed-fill[data-side="right"][data-role="down"] {
    --btn-released: rgb(31, 79, 32);
    --btn-pressed: rgb(63, 207, 63);
}
